:root {
    --header-height: 315px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

body::-webkit-scrollbar-thumb {
    background-color: #acacac;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

body {
    font-family: "Segoe UI", "Arial";
    color: #3f3f3f;
    background-color: #f7f7f7;
    letter-spacing: .06em;
    /* background-color: gray; Temp, delete me */
}

main {
    font-size: 18px;
}

.img {
    border-radius: 2px;
}

.tile {
    border-radius: 3px;
    background-color: #e0e0e0;
    padding: 10px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    height: var(--header-height);
    padding: 30px 10px 10px 10px;
    align-items: center;
}

.main-landing {
    font-size: 1.5em;
    font-weight: 300;

    /* Uncomment this and .banner-background css to enable background banner image */
    /* display: inline-block;
    padding: 20px;
    background-color: rgba(247, 247, 247, 0.4);
    border-radius: 3px; */
}

/* Uncomment this and snippet in .main-landing css to enable background banner image */
.banner-background {
    /* position: absolute;
    top: 0;
    background: url("../img/banner-bg.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: var(--header-height);
    width: 100%;
    z-index: -1; */
}

.main-landing h1 {
    font-size: 3em;
}

main h2 {
    font-weight: 300;
    margin: 25px 0;
}

.external-links {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.external-links-btn {
    color: inherit;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.external-links-btn:hover {
    color: black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.external-links-btn .label {
    padding-left: 10px;
}

footer {
    padding: 20px;
}
